# Arquivos de sistema
.DS_Store

# Arquivos de build e logs
node_modules/
dist/
build/
npm-debug.log
yarn-error.log
*.log

# Dependências
*.lock
package-lock.json
yarn.lock

# Ambiente específico
.env

# Arquivos de configuração do editor
.vscode/

# Arquivos temporários
*.swp
*~.nib

# Arquivos de configuração
*.config.js
