@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fafaf2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    text-align: center;
    margin: auto;
}

h1 {
    color: #333;
    font-weight: 500;
}

.link-item {
    margin: 5px 0;
}

.link-item a {
    
    color: #0b1111;
    letter-spacing: 1.5px;
}


@media (max-width: 600px) {
    .container {
        width: 90%;
    }
}